/* General */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    background-image: url('../imagenes/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
html {
    scroll-behavior: smooth;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #6a5acd; /* Un color de fondo más suave */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    flex-wrap: wrap; /* Asegura que no se rompa el diseño en pantallas pequeñas */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}

header:hover {
    background-color: #5a4bcf; /* Cambio de color de fondo al pasar el mouse */
}

header a:hover {
    color: #f1f1f1; /* Cambio de color al pasar el mouse */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo sutil al pasar el mouse */
    padding: 5px 10px; /* Espaciado alrededor del enlace */
    border-radius: 5px; /* Bordes redondeados */
}

.logo img {
    height: 60px;
    transition: transform 0.3s; /* Transición suave para el logo */
}

.logo img:hover {
    transform: scale(1.1); /* Efecto de aumento en el logo al pasar el mouse */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Hace que los elementos se adapten a la línea */
}

nav ul li {
    margin-right: 30px; /* Aumenta el margen entre los elementos */
}

nav ul li:last-child {
    margin-right: 0; /* Quitar margen en el último elemento */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; /* Transición suave para el color */
}

nav ul li a:hover {
    color: #f1f1f1; /* Cambio de color al pasar el mouse */
}

/* Responsividad */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinear elementos al inicio */
    }

    nav ul {
        flex-direction: column; /* Colocar elementos de navegación en columna */
        width: 100%; /* Ancho completo para la navegación */
    }

    nav ul li {
        margin: 10px 0; /* Espaciado vertical entre los elementos */
        margin-right: 0; /* Quitar margen derecho en elementos en columna */
    }
}


/* Servicios */
#servicios {
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#servicios h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

#servicios p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.servicios-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.servicio {
    background-color: transparent;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.servicio:hover {
    transform: translateY(-5px); /* Eleva el trabajo al pasar el mouse */
}

.servicio img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
}

.servicio h3 {
    margin-top: 10px;
    font-size: 1.4em;
}

.servicio p {
    font-size: 14px;
    color: #666;
}

section {
    background-image: url('../imagenes/fondo.jpg');
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
}

/* Títulos y párrafos */
h2 {
    font-size: 2em;
    color: #0e186e;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}


/* Footer */
footer {
    background-color: #6a5acd; /* Un color de fondo más suave y atractivo */
    color: white;
    text-align: center;
    padding: 30px 20px; /* Mayor espaciado para un mejor diseño */
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Sombra superior para dar profundidad */
    position: relative; /* Asegura que el footer se mantenga en su lugar */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}

footer:hover {
    background-color: #5a4bcf; /* Cambio de color al pasar el mouse */
}

footer p {
    margin: 0;
    font-size: 1rem; /* Ajustar tamaño de fuente para mejor legibilidad */
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold; /* Negrita para destacar enlaces */
    transition: color 0.3s; /* Transición suave para el color */
}

footer a:hover {
    color: #f1f1f1; /* Cambio de color al pasar el mouse */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo sutil al pasar el mouse */
    padding: 5px 10px; /* Espaciado alrededor del enlace */
    border-radius: 5px; /* Bordes redondeados */
}

/* Responsividad */
@media (max-width: 768px) {
    footer {
        padding: 20px 10px; /* Reducir espaciado en pantallas más pequeñas */
    }

    footer p {
        font-size: 0.9rem; /* Reducir tamaño de fuente para móviles */
    }
}


/* Sección Nuestro Equipo */
#equipo {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

#equipo h2 {
    font-size: 2em;
    color: #394797;
    margin-bottom: 30px;
}

.equipo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
}

.miembro {
    margin: 10px;
    transition: transform 0.3s ease;
    text-align: center;
}

.miembro img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.miembro:hover img {
    transform: scale(1.1); /* Agranda la imagen al pasar el mouse */
}

.miembro h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

/* Sección de Trabajos Realizados */
#trabajos {
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#trabajos h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

#trabajos p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.trabajos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.trabajo {
    background-color: transparent;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.trabajo:hover {
    transform: translateY(-5px); /* Eleva el trabajo al pasar el mouse */
}

.trabajo img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
}

.trabajo h3 {
    margin-top: 10px;
    font-size: 1.4em;
}

.trabajo p {
    font-size: 14px;
    color: #666;
}

/* Sección de Contacto */
#contacto {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

#contacto h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#contacto p {
    font-size: 1.1em;
    margin-bottom: 30px;
}

/* Formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Centrar el botón */
.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #394797;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2492ff;
}

/* Carrusel */
.carrusel {
    position: relative;
    width: 100%; /* Ancho completo */
    overflow: hidden;
}

.carrusel-imagenes {
    display: flex;
    transition: transform 0.5s ease;
}

.carrusel-imagenes img {
    width: 100%; /* Cada imagen ocupa todo el ancho de la ventana */
    height: auto; /* Mantener la proporción de las imágenes */
}

/* Botones del carrusel */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Contenedor general para los patos y el título */
.container-patos-titulo {
    display: flex; /* Usar flexbox para alinear los elementos */
    align-items: center; /* Alinear verticalmente al centro */
    justify-content: space-between; /* Espacio entre patos y título */
    max-width: 80%; /* Ajustar según sea necesario */
    margin: 50px auto; /* Centrar el contenedor en la página */
}

/* Logo animado */
.h11 {
    background: url(https://th.bing.com/th/id/OIP.tj9Cw8wk8iiy7iJxj_KKVAHaQd?rs=1&pid=ImgDetMain);
    -webkit-background-clip: text;
    background-size: contain;
    text-align: center;
    color: transparent; /* El texto original se vuelve transparente */
    font-weight: 900;
    font-size: 10vw;
    font-family: 'frozen', serif;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative; /* Para poder posicionar el pseudo-elemento correctamente */
    flex: 1; /* Permitir que el título ocupe el espacio disponible */
    text-align: center; /* Alinear texto al centro */
    margin: 0 20px; /* Espacio horizontal alrededor del título */
}

/* Animación del brillo */
.h11::before {
    content: attr(data-heading); /* Tomar el texto del atributo data-heading */
    position: absolute; /* Posicionar absolutamente dentro del h1 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 45%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 55%
    );
    background-size: 150%; /* Mayor tamaño para que la animación se vea suave */
    -webkit-background-clip: text;
    color: transparent; /* Hacer que el texto del pseudo-elemento también sea transparente */
    animation: shine 1.5s infinite; /* Animación sincronizada */
}

/* Animación de brillo */
@keyframes shine {
    0% {
        background-position: -100%;
    }
    100% {
        background-position: 100%;
    }
}

/* Pato */
.pato {
    height: 150px; /* Ajustar según se necesite */
    max-width: 100px; /* Asegurar que no se desborde */
    object-fit: contain; /* Mantener proporciones */
}

/* Responsividad */
@media (max-width: 768px) {
    .container-patos-titulo {
        justify-content: space-between; /* Espacio entre patos y título */
    }

    .pato {
        height: 100px; /* Ajustar el tamaño de los patos */
    }

    .h11 {
        font-size: 12vw; /* Ajustar el tamaño del título */
    }
}

@media (max-width: 480px) {
    .container-patos-titulo {
        flex-direction: row; /* Mantener fila en pantallas pequeñas */
        justify-content: space-around; /* Distribuir el espacio alrededor */
        align-items: center; /* Centrar elementos verticalmente */
    }

    .h11 {
        font-size: 10vw; /* Tamaño del texto en pantallas pequeñas */
    }
}


/* Estilos generales para la sección de perfil */
#perfil {
    background-color: #f9f9f9; /* Color de fondo claro */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 800px; /* Ancho máximo para la sección */
    margin: 20px auto; /* Centrar la sección en la página */
    font-family: Arial, sans-serif; /* Fuente general */
}

/* Títulos dentro de la sección de perfil */
#perfil h2 {
    font-size: 24px; /* Tamaño del texto del título */
    margin-bottom: 15px; /* Espaciado inferior */
    color: #394797; /* Color del texto del título */
}

/* Parrafos dentro de la sección de perfil */
#perfil p {
    font-size: 16px; /* Tamaño del texto de los párrafos */
    line-height: 1.5; /* Espaciado entre líneas */
    color: #333; /* Color del texto */
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilo para imágenes de perfil */
#perfil img {
    max-width: 150px; /* Ancho máximo para la imagen */
    border-radius: 50%; /* Hacer la imagen circular */
    margin-right: 15px; /* Espaciado a la derecha */
    border: 3px solid #394797; /* Bordes de la imagen */
}

/* Contenedor para el contenido del perfil */
.perfil-contenedor {
    display: flex; /* Usar flexbox para el diseño */
    align-items: center; /* Centrar verticalmente */
}

/* Botones dentro de la sección de perfil */
#perfil button {
    background-color: #394797; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

#perfil button:hover {
    background-color: #2492ff; /* Color de fondo al pasar el mouse */
}


/* Lista de usuario */
#ulUser {
    margin-right: 0%;
}

#RegGene {
    text-align: center;
}

/* Checkbox */
.checkboxReg {
    width: 2%;
    margin: 3px 3px 0px 5px;
}

.texRegU {
    display: inline;
}

/* Selector de color */
.color-picker-container {
    display: flex;
    align-items: center;
}

.color-picker-container label {
    margin-right: 10px;
    font-weight: bold;
}

#colorPicker {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

#colorPicker:hover {
    transform: scale(1.1);
}

/* Ajuste responsivo del selector de color */
@media (max-width: 768px) {
    .color-picker-container {
        flex-direction: column; /* Apila los elementos en pantallas pequeñas */
        align-items: flex-start;
    }

    #colorPicker {
        width: 40px;
        height: 40px; /* Tamaño más pequeño en móviles */
    }
}

/* Modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
}

/* Evitar desplazamiento cuando el modal está abierto */
body.modal-abierto {
    overflow: hidden;
}

/* Contenido del modal */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 1001;
}

/* Botón de cierre */
.close-button {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button:hover {
    color: black;
}

/* Ajustes del modal para pantallas pequeñas */
@media (max-width: 600px) {
    .modal-content {
        margin: 30% auto; /* Ajusta la posición vertical */
        width: 90%; /* Aumenta el ancho en móviles */
    }

    .close-button {
        font-size: 20px; /* Reduce el tamaño del botón en móviles */
    }
}

